{% extends 'base.html.twig' %}

{% block title %}Contenu de l'article{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center; background-color:cyan; text-decoration:underline">produit</h1>
</div>  

<div class="container-fluid">
<h1 style="text-align:center;background-color:yellow">{{ product | length }} produits :</h1> 
    <div class="row">
        <div class="col-6">
            <h5><strong>Titre :</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>PDF :</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Image :</strong></h5>
        </div>
    </div>
</div>
<div class="container-fluid">
{% for product in products %}
    <div class="row">
        <div class="col-6">
            <h5>{{ product.title }}</h5>
        </div>
        <div class="col-3">
            <h5>{{ product.brochureFilename }}</h5>
            <a href="{{ asset('uploads/brochures/' ~ product.brochureFilename) }}">View brochure (PDF)</a>>
        </div>
        <div class="col-3">
            <h5>{{ product.image }}</h5>
            <a href="{{ asset('uploads/images/' ~ product.image) }}">View image)</a>
        </div>
    </div>
    <hr>
{% endfor %}
</div>
   
{% endblock %}