{% extends 'base.html.twig' %}

{% block title %}Contenu de l'article{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center; background-color:yellow; text-decoration:underline">produit</h1>
</div>  
<div>  
    <div class="container-fluid">
        {% for product in products %}
                <h5><strong>Titre :</strong></h5>
          
                <h5>{{ product.title }}</h5>

                <h5>{{ product.brochureFilename }}</h5>
                <a href="{{ asset('uploads/brochures/' ~ product.brochureFilename) }}">View brochure (PDF)</a>

                <h5>{{ product.image }}</h5>
                <a href="{{ asset('uploads/images/' ~ product.image) }}">View image)</a>

        {% endfor %}
    </div>
</div>
<hr>
{% endblock %}