{% extends 'base.html.twig' %}

{% block title %}Contenu de l'article{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center; background-color:cyan; text-decoration:underline">produit</h1>
    <hr>
    <a class="btn btn-secondary" style="float:right; background-color:#425BB9" href="{{ path('product_index') }} ">Liste panier</a>
</div>  

<div class="container-fluid">
<h1 style="text-align:center;background-color:yellow">{{ product | length }} produits :</h1> 
    <div class="row">
        <div class="col-2">
            <h5><strong>Titre :</strong></h5>
        </div>
        <div class="col-2">
            <h5><strong>Image :</strong></h5>
        </div>
        <div class="col-2">
            <h5><strong>Prix :</strong></h5>
        </div>
        <div class="col-2">
            <h5><strong>PDF :</strong></h5>
        </div>
         <div class="col-2">
            <h5><strong>Format image :</strong></h5>
        </div>
        <div class="col-2">
            <h5><strong>Panier :</strong></h5>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
{% for product in products %}
    <div class="row">
        <div class="col-2">
            <h5>{{ product.title }}</h5>
        </div>
        <div class="col-2">
            <p><img src="{{ asset('uploads/images/' ~ product.image) }}" alt="" width="100"></p>
        </div>
        <div class="col-2">
            <p>{{ product.price }}</p>
        </div>
        <div class="col-2">
            <div class="d-inline-block">
                <i class="fa fa-file-text-o"></i>
            </div>
            &nbsp&nbsp
            <div class="d-inline-block">
                <a class="btn btn-info" href="{{ asset('uploads/brochures/' ~ product.brochureFilename) }}">Voir PDF</a>
            </div>
        </div>
        <div class="col-2">
            <div class="d-inline-block">
                <i class="fa fa-file-image-o"></i>
            </div>
            &nbsp&nbsp
            <div class="d-inline-block">
                <a class="btn btn-info" href="{{ asset('uploads/images/' ~ product.image) }}">Voir image</a>
            </div>
        </div>
        {% if app.user %}
        <div class="col-2">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>&nbsp&nbsp
            <a class="btn btn-success" style="color:white" href="{{ path('product_add', { 'id': product.id }) }}" role="button" >Ajouter</a>
        </div>
        {% else %}
        <div class="col-2">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>&nbsp&nbsp
            <a class="btn btn-success disabled" style="color:white" href="{{ path('product_panier') }}" role="button" >Ajouter</a>
        </div>
        {% endif %}
    </div>
    <hr>
{% endfor %}
</div>
   
{% endblock %}