<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Immo agence{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet"  href="{{ asset('css/main.css') }}"> 
            <link rel="stylesheet"  href="{{ asset('js/main.js') }}"> 
        {% endblock %}
    </head>
    <script>
        /* Fonction Heure */
        function dsptime() {
            var heure;
            date = new Date();
            h = date.getHours();
            m = date.getMinutes();
            s = date.getSeconds();
            hh = date.getHours();
            h = h > 24 ? h % 24 : h;
            heure = (h < 10 ? '0' : '') + h + ':' + (m < 10 ? '0' : '') + m + ':' + (s < 10 ? '0' : '') + s ;         
            document.querySelector('#time').innerHTML = heure;
            return heure;
        }
        setInterval(dsptime, 1000);  
    </script>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div>
                <a href="\"><i class="fa fa-home gi-3x" style="color:white"></i></a>
            </div>
            &nbsp&nbsp&nbsp&nbsp
            <a class="navbar-brand" href="{{ path('home') }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_product_new') }} ">Produit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_product_list') }} ">Liste produit</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{{ path('search') }}">Recherche</a>
                    </li> 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }} ">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }} ">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }} ">Logout</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('easyadmin') }}" target="blank" tabindex="-1" aria-disabled="true">Admin</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }} ">Index admin</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('member_index') }} ">Vôtre compte</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" style="text-align:center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning" style="text-align:center;color:#000000">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger" style="text-align:center;color:#000000">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        <footer class="footer">
        <div class="text-white-50 bg-primary">
			<div class="text-center">
                <i class="fa fa-clock-o gi-3x"></i>&nbsp&nbsp&nbsp&nbsp<span id="time"></span></br>
				{{ "now" | date("Y-m-d") }} 
			</div>
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
        </div>
        </footer>

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="/js/date.js"></script>
        {% endblock %}    
    </body>
</html>
